.title-primary {
  text-align: center;
  margin-top: 5rem;
}

.title-primary span {
  border: 4px solid #0d6efd;
  padding: .4rem .7rem;
  border-radius: 5px;
}

.title-second {
  text-align: center;
  margin-top: 2rem;
}