@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.container .title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title .query-text {
  color: #f7d354;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.wallpaper {
  width: 100%;
}

.mega-movie h1 {
  margin-top: -25%;
  margin-left: 2%;
  font-size: 34pt;
}

.mega-movie span {
  font-family: 'Roboto Slab', serif;
  background-color: #209cee;
  padding: .5rem 1rem;
  border-radius: 5px;
  box-shadow: 4px 7px 15px -3px rgba(0,0,0,0.75);
}

.lancamentos {
  margin-top: 22%;
}

.lancamentos h2 {
  margin-top: 22%;
  margin-left: 2%;
}

.movies-container div {
  width: 20%;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  padding: 1rem;
  margin: .5rem;
  border-radius: 5px;
}

.movies-container div img {
  max-width: 100%;
  border-radius: 5px;
}

.movies-container div img,
.movies-container div p {
  margin-bottom: 1rem;
}

.movies-container div h4 {
  margin-bottom: 1rem;
}

.movies-container div svg {
  color: #f7d354;
}

.movies-container div a {
  background-color: #209cee;
  border: 2px solid #209cee;
  border-radius: 4px;
  color: #000;
  padding: .8rem 1rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.movies-container div a:hover {
  color: #ffffff;
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}